name: Build Image, Push to Docker Hub (on master)

# Run on any commit
on: push

jobs:
  build-push-docker-hub:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          install: true

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        id: docker_build_push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64,linux/arm/v7
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: pitop/onnxruntime-arm:latest

      - name: Show image digest
        run: echo ${{ steps.docker_build_push.outputs.digest }}
